<%= render "shared/nav_menu_dropdown" %>
<div class="main-container-blog">
  <div class="left-column-blog" >
    <%= render "shared/main_nav" %>
  <div class="right-column-blog" id="who-we-are-page">
    <h2 class="contact-header">Get in touch, we'd love <br> to hear from you.</h2>
   <div class="contact-form-container">
    <%= simple_form_for (@employee) do |f| %>
      <%= f.input :first_name, label: false, placeholder: 'First Name', required: false %>
      <%= f.input :last_name, label: false, placeholder: 'Last Name', required: false %>
      <%= f.input :position, label: false, placeholder: 'Employee position', required: false %>
      <%= f.input :bio, label: false, placeholder: 'Bio', required: false %>
      <%= f.input :photo, as: :file, input_html: { class: 'push-down-submit' } %>
      <%= f.button :submit, "Create Employee" %>
    <% end %>
    </div>
  </div>
</div>
