<%= render "shared/nav_menu_dropdown" %>
<div class="main-container-blog">
  <div class="left-column-blog" >
    <%= render "shared/main_nav" %>
  <div class="right-column-blog" id="contact-page">
   <div class="">
      <%= simple_form_for @contact_message do |f| %>
        <%= f.input :name, label: "Name", required: true %>
        <%= f.input :email, label: "Email", required: true %>
        <%= f.input :phone, label: "Phone" %>
        <br>
        <%= f.input :subject, label: "Subject", required: true %>
        <%= f.input :message, label: "Message", as: :text, required: true, class: "width-100p" %>
        <%= f.submit "Send", class: "add-to-basket-button", id: "basket-next-button" %>
      <% end %>
    </div>
  </div>
</div>
