<%= render "shared/nav_menu_dropdown" %>
<div class="new-blog-container">
  <%= simple_form_for (@blog_post) do |f| %>
    <%= f.input :title, input_html: { class: 'custom-class-name' } %>
    <%= f.input :body, input_html: { class: 'custom-class-name' } %>
    <%= f.input :minutes_to_read, input_html: { class: 'custom-class-name' } %>
    <%= f.input :photo, as: :file, input_html: { class: 'custom-class-name' } %>
    <%= f.button :submit, "Edit Blog" %>
  <% end %>
</div>
