
  <div class="blog-card" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= cl_image_path blog_post.photo.key %>')">
    <div class="top-section">
      <div class="left-icons-flex flex-column">
        <p><%=blog_post.user.first_name%> <%=blog_post.user.last_name%></p>
        <p><%= blog_post.created_at.strftime("%B %d, %Y") %> • <%= blog_post.minutes_to_read%> min</p>
      </div>
      <div class="right-icons-flex">
      </div>
    </div>
    <%= link_to(blog_post) do %>
    <div class="bottom-section">
      <h3><%= blog_post.title.truncate(51) %></h3>
      <div class="horizontal-divider-fw"></div>
      <div class="bottom-icons-flex">
        <div class="left-icons-flex">
          <div class="icons-container">
            <i class="fa-regular fa-eye"></i>
            <p><%= blog_post.views %></p>
          </div>
          <div class="icons-container">
            <%# <i class="fa-regular fa-comment"></i>
            <p>0</p> %>
            <%# blog_post.comments.count %>
          </div>
        </div>
        <div class="right-icons-flex">
          <div class="icons-container" data-controller="like" data-like-id-value="<%= blog_post.id %>">
            <%# <i class="fa-regular fa-heart" data-like-target="icon" data-action="click->like#increment"></i> %>
            <%# <p data-like-target="count"><%= blog_post.likes </p> %>
          </div>
        </div>

      </div>
    <% end %>
    </div>
  </div>
