<div class="nav-bar" id="<%='background-blog' if params[:controller] == 'blog_posts' && params[:action] == 'show'  %>">
  <div class="logo-container">
    <%= link_to root_path do %>
      <%= image_tag("bc-logo.png", alt: "Bcentred Logo", class: "logo") %>
    <% end %>
  </div>
    <%# <% unless current_page?(root_path) || current_page?(blog_posts_path) || current_page?(new_contact_message_path)> %>
      <div class="dropdown">
    <%# <% else > %>
      <%# <div class="dropdown" id="d-none"> %>
    <%# <% end > %>
        <i class="fa-solid fa-bars fa-2xl dropdown-toggle"></i>
        <div class="dropdown-menu">
          <div class="links">
            <%= link_to "B—Centred", root_path, class: "dropdown-links" %> <br>
            <%= link_to "Who We Are", employees_path, class: "dropdown-links" %> <br>
            <%= link_to "Think Tank", blog_posts_path, class: "dropdown-links" %><br>
            <div class="profile-links-container">
              <% if user_signed_in? %>
                <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-links profile-links" %> <br>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-links profile-links" %>
              <% else %>
                <%= link_to "Sign In", new_user_session_path, class: "dropdown-links profile-links" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
  <%# <% end %>
</div>
